<!DOCTYPE html>
<html>
  <head>
    <title>Cameamea</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('doconnect-favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render 'layouts/partials/navbar' %>
    <%= render 'layouts/partials/sidebar' %>
    <%= yield %>
    <%= turbo_frame_tag :flashes do %>
      <%= render 'shared/flashes' %>
    <% end %>
  </body>
</html>
